body {
    padding: 0;
    margin: 0;
}
#map {
    height: 100%;
    width: 100%;
}
.slidecontainer {
    position: absolute;
    top: 50%;
    height: 100%;
    width: 100%; /* Width of the outside container */
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.swipe {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 100%; /* Specified height */
    background: transparent;
    outline: none; /* Remove outline */
    z-index: 9999;
}
.swipe::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 50px; /* Set a specific slider handle width */
    height: 50px; /* Slider handle height */
    border-radius: 25px;
    background: url('arrow.png');
    background-size: contain;
    border: 3px solid black;
    cursor: ew-resize; /* Cursor on hover */

}

.swipe::-moz-range-thumb {
    width: 50px; /* Set a specific slider handle width */
    height: 50px; /* Slider handle height */
    border-radius: 25px;
    background: url('arrow.png');
    background-size: contain;
    border: 3px solid black;
    cursor: ew-resize; /* Cursor on hover */
}
